html
{
    scroll-behavior: smooth;
}
body
{
    background-color: #EEEEEE; 
}
h2
{
    margin-top: 0;
}
#main
{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 90px;
    position: relative;bottom: 0px;
    background-color: #EEEEEE;
    width: 450px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    overflow: hidden;
}
#Back
{
    text-decoration: none;
    position: relative;top: 30px;right: 160px;
    font-size: 20px;
}
#Back a
{
    color: black;
}
#main #heart
{
    background:-webkit-linear-gradient(top,#9356dc,#ff79da);
    margin-left: 80px;
    background-clip:text;
    -webkit-background-clip:text;
    transition: 0.3s ;
}
.ok
{
    height: 120px;
    width: 100px;
    background-color: #99E2D0;
    z-index: 0;
    position: relative;bottom: 30px;
    margin-left: 30px;
}
.noexp
{
    padding-top: 20px;
}
#main #heart:hover
{
    color:transparent;
}
#titre
{
    margin: 0;
    background-color: white;
    height: 100px;
}
.titre2
{
    width: 350px;
    margin-left: 20px;
}
.titre
{
    background-color: #EEEEEE;
    height: 60px;
    width: 300px;
    margin-left: 20px;
}
#main #heart
{
    position: relative;left: 280px;top: 25px;
    z-index: 3;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}
#ita
{
    font-style: italic;
}
.underline  
{
    border-bottom: solid #99E2D0;
    width: 50px;
    margin-left: 20px;
}
header
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    z-index: 0;

}
figure
{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
#Bandeau
{
    background-color: #E0E0E0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    height: 250px;
}
#Bandeau img
{
    width: 450px;
    height: 240px;
}
#but
{
    width: 200px;
    background: linear-gradient(#ff79da,#9356dc);
    padding-bottom: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: white;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: gray 1px 2px 5px;
    text-align: center;
    align-content: center;
    padding-top: 15px;
    text-decoration: none;
    transition: 0.3s;
}
#but:hover
{
    filter: brightness(105%);
    box-shadow: gray 3px 6px 10px;
}
.plat
{
    display: flex;
    background-color: #EEEEEE;
    width: 440px;
    display: flex;
    margin-top: 30px;
    margin-left: 5px;
    border-radius: 30px;
    box-shadow: grey 1px 3px 7px;
    height: 100px;
    overflow: hidden;
}
.plat:hover .right
{
    transform: translateX(0);
}
.right
{
    height: 100%;
    background-color: #EEEEEE;
    display: flex;
    padding-left: 20px;
    font-size: 18px;
    position: relative;left: 270px;bottom: 70px;
    transform: translateX(80px);
    transition: 0.4s;
}
a
{
    text-decoration: none;
}
.inbox
{
    margin-left: 20px;
}
.plat a
{
    color: black;
}
.right .circle .fas
{
    position: relative;right: 80px;top: 15px;
    font-size: 25px;
    color: white;
    transition: 0.4s;
}
.plat:hover .right .circle .fas
{
    transform: rotate(360deg);
}
#rightS
{
    margin-top: 50px;
}
.p1
{
    transform: translateY(-999px);
    animation: slide1 2s both;
}
.p2
{
    transform: translateY(-999px);
    animation: slide2 2.5s both;
}
.p3
{
    transform: translateY(-999px);
    animation: slide3 3s both;
}
.p4
{
    transform: translateY(-999px);
    animation: slide4 3.5s both;
}
@keyframes slide1
{
    0%{
        transform: translateY(-999px);
    }
    100%
    {
        transform: translateY(0);
    }
}
@keyframes slide2
{
    0%{
        transform: translateY(-999px);
    }
    100%
    {
        transform: translateY(0);
    }
}
@keyframes slide3
{
    0%{
        transform: translateY(-999px);
    }
    100%
    {
        transform: translateY(0);
    }
}
@keyframes slide4
{
    0%{
        transform: translateY(-999px);
    }
    100%
    {
        transform: translateY(0);
    }
}
@media screen and (max-width: 1024px)
{
    #main
    {
        width: 300px;
    }
    #Bandeau
    {
        width: 300px;
    }
    #Bandeau img
    {
        width: 350px;
    }
    .plat
    {
        width: 290px;
        font-size: 12px;
    }
    .left
    {
        z-index: 3;
        max-width: 100px;
        flex-wrap: wrap;
    }
    .left h3
    {
        width: 250px;
    }
    .left p
    {
        width: 170px;
    }
    .right
    {
        z-index: 1;
        font-size: 14px;
        position: relative;left: 130px;bottom: 50px;
        background-color: #EEEEEE;
        height: 100%;
    }
    .ok
    {
        position: relative;bottom: 40px;
    }
}