html
{
    scroll-behavior: smooth;
}
*, *::before, *::after
{
    box-sizing: border-box;
    z-index: 1;
}
#titre
{
    margin: 0;
    background-color: white;
    height: 100px;
}
#titre img
{
    position: relative;top: 25px;
}
figure
{
    text-align: center;
}
#situation
{
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #E0E0E0;
    font-size: 20px;
    height: 50px;
    padding-top: 20px;
}
#top
{
    margin: 0;
    background-color: #EEEEEE;
    padding: 30px;
    text-align: center;
}
#p1
{
    width: 250px;
    margin-top: 40px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#titlework , #titlerest
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    transform: translateX(-90px);
}
#button1
{
    width: 300px;
    background: linear-gradient(#ff79da,#9356dc);
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: gray 1px 2px 5px;
    text-align: center;
    align-content: center;
    padding-top: 15px;
    text-decoration: none;
    transition: 0.3s;
}
#button1:hover
{
    filter: brightness(105%);
    box-shadow: gray 3px 6px 10px;
}
#titlework
{
    text-align: left;
    margin-top: 30px;
    margin-left: -160px;
}
.titleplace
{
    margin-left: auto;
    margin-right: auto;
}
#explain
{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.exp
{
    background-color: #EEEEEE;
    width: 500px;
    display: flex;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: grey 1px 3px 7px;
    transition: 0.3s;
}
.exp:hover
{
    background-color: #f0e3ff;
    box-shadow: gray 3px 6px 10px;
}
.but
{
    position: relative;left: 55px;bottom: 10px;
}
.exp .fas
{
    text-align: left;
    position: relative;top: 25px;left: 10px;
}
.num
{
    background-color: #9356dc;
    text-align: center;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    position: relative;top: 25px;left: -10px;
}
#map
{
    padding-right: 10px;
}
.explications
{
    flex-direction: row;
}
#restaurants
{
    background-color: #EEEEEE;
    text-align: center;
    margin: 0;
    padding: 20px;
}
#titlerest
{
    margin-top: 30px;
    margin-left: -160px;
}
.img
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 250px;
    width: 500px;
    position: relative;right: 40px;

}

.desc
{
    text-align: left;
    position: relative;top: 0px;
    background-color: white;
    width: 500px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.desc p
{
    position: relative;top: -20px;
    margin-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: black;
}
.desc h3
{
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: black;
}
.rest a
{
    text-decoration: none;
}
h3
{
    background-color: white;
    margin: 0;
    padding-top: 10px;
    position: relative;top: -20px;
}
.fav
{
    font-size: 20px;
    margin: 0;
    padding:0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.fav .fa
{
    position: relative;bottom: 55px;right: -100px;
    background:-webkit-linear-gradient(top,#9356dc,#ff79da);
    background-clip:text;
    -webkit-background-clip:text;
    transition: 0.3s ;
}
.fav .fa:hover
{
    color:transparent;
}
.news
{
    margin: 0;
    background-color: #99E2D0;
    width: 90px;
    height: 30px;
    z-index: 1;
    position: relative;left: 200px;top: 55px;
    color: black;
    font-size: 12px;
}
.news p
{
    position: relative;top: 6px;
}
.rest2
{
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#loadback
{
    position: fixed;top: 0;left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 11;
    animation: load-back 4.5s both;
}
#backfoot
{
    transform: translateX(-90px);
}
@keyframes load-back
{
    0%,90%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        z-index: 0;
    }
}
#load
{
    position: absolute;top: 50%;bottom: 50%;left: 45%;right: 45%;
    border: 3px solid black;
    overflow: hidden;
    height: 2em;
    width: 500px;
    border-radius: 1.5em;
    animation: 3.5s both bar;
}
@keyframes bar
{
    0%,90%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
#load::before
{
    content:"";
    display: flex;
    left: .5em;
    top: .5em;
    bottom: .5em;
    align-items: center;
    position: absolute;
    width: 100%;
    min-width: 2rem;
    max-width: calc(100% - 1rem);
    background-color: #99E2D0;
    border-radius: 1em;
    transform-origin: 0% 50%;
    transform: scaleX(0);
    animation: progress-bar 3s both;
}
@keyframes progress-bar
{
    0%
    {
        transform: scaleX(0);
    }
    30%
    {
        transform: scaleX(0.4);
    }
    100%
    {
        transform: scaleX(1);
    }
}
@media screen and (max-width: 1024px)
{
    #load
    {
        width: 300px;
        position: absolute;top: 50%;bottom: 50%;left: 20%;right: 70%;
    }
    #button1
    {
        width: 200px;
    }
    #backfoot
    {
        transform: translateX(0);
    }
    #titlework , #titlerest
    {
        transform: translateX(0);
    }
    .exp
    {
        width: 300px;
    }
    #titlework
    {
        margin-left: -90px;
    }
    .img
    {
        width: 300px;
        height: 100px;
    }
    .rest2
    {
        width: 300px;
    }
    .desc
    {
        width: 300px;
    }
}